@import "../theme.scss";

.about {
    padding-top: 128px;
    line-height: 1.25;

    .intro {
        display: flex;

        @media (max-width: $breakpoint-tablet) {
            flex-direction: column;
        }

        .col {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
            padding: 10px;

            @media (max-width: $breakpoint-tablet) {
                align-items: center;
                text-align: center;
            }

            .subtitle {
                font-weight: $fontWeightMedium;
                text-transform: uppercase;
            }

            .title {
                margin-top: 15px;
                font-size: $fontSizeTitle;
                font-weight: $fontWeightBold;
            }

            .desc {
                margin-top: 30px;
            }

            .btn {
                margin-top: 30px;
                width: 80%;
            }

            .img {
                width: 80%;
                height: auto;
                border-radius: 10px;
                align-self: flex-end;

                @media (max-width: $breakpoint-tablet) {
                    align-self: center;
                }
            }
        }
    }

    .team {
        display: flex;
        flex-direction: column;

        .title {
            font-size: $fontSizeTitle;
            font-weight: $fontWeightBold;
            align-self: center;
            padding: 64px 0;
        }

        .item {
            display: flex;
            align-items: center;
            margin: 50px 0;

            @media (max-width: $breakpoint-tablet) {
                flex-direction: column;
                text-align: center;
            }
            &.reverse {
                @media (max-width: $breakpoint-tablet) {
                    flex-direction: column-reverse;
                }
                .col.large {
                    text-align: right;
                    @media (max-width: $breakpoint-tablet) {
                        text-align: center;
                    }
                }
            }
            .col {
                .img {
                    height: auto;
                    width: 200px;
                    border-radius: 10px;
                }
                &.large {
                    flex: 1;
                    padding: 0 50px;

                    .name {
                        font-size: $fontSizeLarge;
                        font-weight: $fontWeightBold;
                        @media (max-width: $breakpoint-tablet) {
                            margin-top: 15px;
                        }
                        span {
                            font-size: $fontSizeSmall;
                            font-weight: $fontWeightRegular;
                            font-style: italic;
                            color: rgba($color: $colorWhitePrimary, $alpha: 0.5);
                            @media (max-width: $breakpoint-tablet) {
                                display: block;
                            }
                        }
                    }

                    .desc {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}
