@import "../animate.scss";

.img {
    display: none;
}

.loader {
    display: block;
    height: 100%;
    width: 100%;
    background: #999999;
    background: linear-gradient(to right, #777777, #999999, #777777, #999999);
    background-size: 400% 400%;
    animation: loadingImage 5s ease infinite;
}

.loaded {
    display: block;
    transition: opacity 0.2s;
}
