@import "../theme.scss";

.navbar {
    height: 60px;
    background-color: $colorDarkPrimary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    .brand {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;

        .brandLogo {
            max-height: 80%;
            height: 100%;
            width: auto;
        }
        .brandTitle {
            position: absolute;
            font-size: $fontSizeMedium;
            right: -200%;

            @media (max-width: $breakpoint-tablet) {
                display: none;
            }
        }
    }

    .nav {
        display: flex;
        align-items: center;
        text-align: center;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        .navItem {
            margin: 0 15px;
            .navLink {
                &.active {
                    font-weight: $fontWeightBold;
                    color: $colorWhitePrimary;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .lang {
        display: flex;
        align-items: center;
        margin-left: 10px;

        .langLogo {
            max-height: 30px;
            height: auto;
            width: 30px;
        }
    }
}
