@import "../theme.scss";

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: -10px;
    padding: 0 10px;

    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        align-items: center;
        justify-content: initial;
    }

    .item {
        position: relative;
        width: calc(33.3% - 10px);
        margin-left: 10px;
        margin-top: 10px;
        border-radius: 10px;
        overflow: hidden;
        background-color: rgba($color: $colorBlackPrimary, $alpha: 0.2);
        cursor: pointer;
        color: $colorWhitePrimary;
        display: flex;
        flex-direction: column;

        @media (max-width: $breakpoint-tablet) {
            width: calc(90% - 10px);
        }

        .frame {
            display: flex;
            height: 200px;
            overflow: hidden;

            .img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        .content {
            padding: 24px;
            text-align: left;

            .tags {
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                
                .tag {
                    margin: 2px;
                    border-radius: 9999px;
                    font-size: $fontSizeSmall;
                    padding: 2px 12px;
                    background-color: rgba($color: $colorWhitePrimary, $alpha: 0.2);

                    &:first-child {
                        margin-left: 0;
                    }
        
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .title {
                margin-top: 10px;
                font-size: $fontSizeMedium;
                font-weight: $fontWeightMedium;
            }
            .desc {
                margin-top: 10px;
                font-size: $fontSizeNormal;
                font-weight: $fontWeightRegular;
                opacity: 0.75;
            }
        }
    }
}