/* main */

html,
body,
#__next {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue",
    "Lucida Grande", sans-serif;
  background-color: $colorDarkPrimary;
}

/* scrollbar */

html,
body {
  scrollbar-color: rgba(0, 0, 0, 0.6) rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  width: 7px;
  /* for vertical scrollbars */
  height: 7px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
  height: 10px;
}

::-webkit-scrollbar-track-piece {
  height: 30px;
}

/* fonts */

body,
input,
button,
textarea {
  font-family: $fontFamilyPrimary;
  font-size: $fontSizeNormal;
  font-weight: $fontWeightRegular;
  text-align: left;
  color: $colorWhitePrimary;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

section {
  animation-duration: 1s;
  animation-name: fadeIn;
  animation-fill-mode: both;
  opacity: 1;
}
