/* colors */

$colorWhitePrimary: #fff;
$colorBlackPrimary: #000;
$colorDarkPrimary: #1e1f20;
$colorDarkSecondary: #4b4b4c;
$colorGrayPrimary: #999;
$colorBluePrimary: #0659fd;
$colorBlueSecondary: #377afd;
$colorCyanPrimary: #79d0f1;
$colorFacebook: #39579b;

/* fonts */

$fontFamilyPrimary: Poppins, sans-serif;

$fontWeightThin: 100;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$fontWeightBlack: 900;

$fontSizeTitle: 32px;
$fontSizeLarge: 24px;
$fontSizeMedium: 18px;
$fontSizeNormal: 16px;
$fontSizeSmall: 13px;
$fontSizeTiny: 11px;

$breakpoint-tablet: 768px;
