name: CI
on: [push]
jobs:
  build:
    name: Build and test on Node

    runs-on: ubuntu-latest

    env:
      CI: true
      NEXT_PUBLIC_APP_URL: "https://onruntime.com"
      RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install

      - name: Test
        run: pnpm test

      - name: Build
        run: pnpm build
